body{
    background:linear-gradient(90deg,white 0%,white 27%,#EEEEEE 27%,#EEEEEE 100%);
}

.main_title{
    padding: 20px;
    margin: 0px 1% 120px 1%;
    border-bottom: 3px solid #333333;
    background-color: white;
}

.main_title_name{
    font-size: 4vw;
    color: blue;
    margin: 3%;
}

.team_index{
    width: 60%;
    margin: auto;
}

.team_index2{
    padding: 10px;
    margin: 10px ;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.team_index3{
    margin: 8% 4% 15% 4%;
    padding-bottom: 8%;
    border-bottom: 3px solid #333333 ;
}

.sub_title{
    margin: 8% 4% 15% 4%;
    padding-bottom: 8%;
    font-size: 3vw;
    border-bottom: 3px solid #333333 ;
}

.title2{
    margin-left: 4%;
    font-size: 2vw;
}

.button{
    width: 25%;
    height: 40px;
    margin: 10% 20px 0px 20px;
    font-size: 1vw;
    float: right;
}

.team_box{
    margin: 10% 3% 3% 3%;
}

.team{
    border-bottom: 1px solid #333333;
    margin: 10% 4% 10% 4%;
    font-size: 2vw;
}

.form_team_search{
     width: 60%;
    height: 40px;
    margin: 4%;
    font-size: 1vw;
}

.form_team_search2{
    margin: 4%;
    font-size: 1.5vw;
}

.name{
    margin: 30px 0px;
    font-size: 20px
}

.button2{
    width: 60px;
    height: 35px;
    margin: 20px 20px 50px 20px;
    font-size: 15px;
}

.join_button{
    float: right;
}

.overview{
    font-size: 1vw;
    white-space: pre-line;
}

.overview2{
    font-size: 2vw;
    margin: 3%;
    
}

.name_overview{
    margin: 30px 0px;
    font-size: 20px;
    white-space: pre-line;
}

.title_error{
    color: red;
    font-size: 20px;
}

.body_error{
    color: red;
    font-size: 20px;
}