.main_title{
    color : red;
    padding: 10px;
    margin: 30px 3% 50px 3%;
    border: 3px solid #333333;
}

.team_index{
    width: 50%;
    margin:0 auto
}

.main{
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333;
    
}