/*.header {*/
/*  width: 100%;*/
/*}*/

.wrapper {
  width: 100%;
  height: 100%;
  margin: 16px auto;
}

.mainpage {
  /*width: 580px;*/
  width: 79%;
  height: 100%;
  float: right;
}

.main-sidebar {
  /*width: 350px;*/
  width: 19%;
  height: 100%;
  float: left;
}

/*.footer {*/
/*  width: 100%;*/
/*}*/

.clearfix::after {
  height: 100%;
  content: '';
  display: flex;
  clear: both;
}

html, body {
  height: 100%;
}
