.post_boxs{
    width: 65%;
    margin:0 auto;
}

.posts{
    padding: 10px;
    margin: 100px 0px 50px 0px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.user_name{
    border-bottom: 1px solid #333333;
    margin: 10px 10px 30px 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.user_name2{
    border-bottom: 1px solid #333333;
    margin: 10px 10px 0px 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.title{
    border-bottom: 1px solid #333333;
    margin: 10px;
    padding-bottom: 10px;
    font-size: 25px;
    /*font-size: 2.5vw;*/
}

.body{
    border-bottom: 1px solid #333333;
    margin: 10px;
    padding-bottom: 30px;
    font-size: 20px;
    white-space: pre-line;
}

.comment_body{
    border-bottom: 1px solid #333333;
    margin: 10px;
    font-size: 20px;
    padding: 0px 40px 30px 40px;
    white-space: pre-line;
}

.updated_at{
    float: right;
    font-size: 15px;
}

.comment{
    font-size: 20px;
    margin: 0px 10px 0px 10px;
    padding-top: 10px;
    float: left;
}

.comment_index{
    width: 80%;
    margin:0 auto;
}

.comment_box{
    padding: 10px;
    margin: 50px 0px;
    border: 2px solid #333333;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.good{
    font-size: 20px;
    margin: 10px;
    padding-top: 10px;
}

.good2{
    border-radius: 10px;
    background-color: #FFFFFF;
}

.good3{
    background-color: #FFFFFF;
    color: red;
    border-radius: 10px;
}

.back{
    font-size: 20px;
    margin: 10px;
    float: right;
}

.adjustment{
    margin-bottom: 30px;
}

.delete_button{
    float: right;
    width: 50px;
    height: 30px;
    margin: 10px;
    font-size: 10px;
}

.member_index{
    margin: 5%;
    font-size: 3vw;
}

.rows{
    Width: 80%;
    margin: 10%;
}

.th1{
    padding: 5%;
    font-size: 2vw;
    background-color: #EEEEEE;
}

.td1{
    padding: 5%;
    font-size: 2vw;
}

.form_team_search3{
    margin: 2% 0% 0% 1%;
    font-size: 1.5vw;
}